
h1{
    margin:0;
}
.content {
    position:relative;
    padding:20px 10px;
    margin:0 auto;
    text-align:center;
}

/*#InterHeading{
    position:absolute;
    top:700px;
    width:900px;
    left:50%;
    margin-left:-450px;
   text-align:center;
    
}*/

#InterHeading {
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
}
.heading1{
    margin-top:10px;
    font-size:80px;
    line-height:70px;
}

.heading2{
    margin-top:10px;
    font-size:65px;
    line-height:65px;
}

.heading3{
    font-size:40px;
    line-height:60px;
    font-family:'Berlin Sans FB';
    color:#2174ff;
}
.page{
    position:relative;
     width: 100%;
     height: 100vh;
}

#FirstPage {
    background: #2A2A2A;
    color: #FFFFFF;
}

#SecondPage {
    background: #F2F2F2;
    color: #222222;
    
}


.blue-down{
    bottom:75px;
    position:absolute;
    left:50%;
    margin-left:-26px;
    
}

.img{
    max-width:100%;
    height:auto;
    border:0;
}

.verticle-bar-blue{
    position:absolute;
    bottom:-50px;
    left:50%;
    width:2px;
    height:100px;
    margin-left:-1px;
    background-color:#2174ff;
    z-index:9999;
}


.half-page{
    position:relative;
    width:50%;
    height:100vh;
    top:0px;
    float:left;
}

.center-image{
    width:90%;
    height:90%;
    min-width:300px;
    overflow:auto;
    margin:auto;
    position:absolute;
    top:0;left:0;
    bottom:0;
    right:0;
}

.center-text {
    position:absolute;
    top:25%;
    left:15%;
    width:70%;
    margin:auto;
    padding-bottom:24px;
    padding-top:24px;
   
    
}

p {
    font-size: 20px;
    font-family: 'Berlin Sans FB';
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
    padding-top:10%;
    
    margin:auto;
  width: 80%;
  height: 80%;
  background-color: transparent;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
